.AdminAccount{

    select{
        margin: 0;
    }

    label{
        font-size: 15px;
        font-weight: bold;
        color: rgb(0, 110, 255);
    }

    .form-check-lable{
        color:black;
    }

    .form-group{
        margin-bottom: 20px;
    }
    
    min-height:550px;
    padding: 10px;

    .DataList{
        .DataList-title{
            margin-bottom: 20px;
        }

        .DataList-container{
            margin: auto;
            .DataList-filter{
                form{
                    margin: 20px;
                    input{
                        margin-right: 60px;
                    }
                }
            }
            table{
                background-color: white;
                box-shadow: 0px 0px 4px 4px rgb(227,233,243);
                thead{
                    background-color: rgb(0, 47, 255);
                    color: white;
                }
                tbody{
                    tr:hover{
                        background-color:rgb(247, 248, 248);
                    }
                }
            }
        }
    }
    #account-create-form, #account-update-form{
        background-color: white;
        padding: 20px;
        box-shadow: 0px 0px 4px 4px whitesmoke;
        margin-top: 20px
    }

    .table-user-information{
        background-color: white;
        box-shadow: 0px 0px 4px 4px whitesmoke;
        margin-top: 20px;
        tr{
            border: none;
            td{
                border: none;
            }

            td:first-child{
                width: 20%;
            }
            .last-row{
                width: 100% !important;
                display: flex;
            }
        }
        tr:last-child{
            padding-bottom: 20px;
        }
    }

}